[user]
	name = Randy Lai
	email = randy.cs.lai@gmail.com
[github]
    user = randy3k    
[include]
    path = .gitlocal
[alias]
    al = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    amend = commit --amend --reset-author
    undo = reset --hard
    fixup = !sh -c 'git commit --fixup=$(git rev-parse ${1:-HEAD})' -
    squash = !sh -c 'git commit --squash=$(git rev-parse ${1:-HEAD})' -
    qc = !git add -A && git commit -m
    qf = !git add -A && git fixup && git ri HEAD^^
    ri = rebase --interactive --autosquash
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status -s
    br = branch
    co = checkout
    cob = checkout -b
    coo = checkout --orphan
    del = delete
    cl = clean -fd
    pr = !sh -c 'git fetch origin pull/$1/head:pr/$1' -
    upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
